*{
    background-color: white;
    background-image=url(".\image.jpg")
}
.bg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#secondlink{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
#thirdlink{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}